<div>
    <form action="" method="post">
        <div>
            <label for="">Nombres y Apellidos</label>
            <input type="text">
        </div>
        <div>
            <label>Correo</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</div>